<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Document</title>
</head>
<body>

<header>
    <div class="logo">
        kars_kz
    </div>
    <div class="search-container">
        <input type="text" placeholder="Поиск...">
        <button>Поиск</button>
    </div>
    <div class="search-container">
      
        <a href="{{ url_for('create' )}}" ><button>Создать объявление</button></a>
    </div>
    <a href=" {{ url_for('get_profile')}} "><button class="profile-button">Профиль</button></a>
</header>

<div class="grid_box">
    {% if posts %}
        {% for post in posts %}
            <div class="lot">
                <h2>
                    {{ post[1] }}
                </h2>               
                <h4>
                    {{ post[2] }}
                </h4>
                <h3>
                    {{ post[3] }}
                </h3>
                <img src="{{ url_for('static', filename=post[4]) }}" alt="Uploaded Image" style="max-width:300px;">

            </div>
        {% endfor %}
    {% endif %}
</div>


</body>
</html>
